.archive-view {
	background-color: $white;

	.post,
	.page {
		position: relative;
		background: $white;
	}

	.post__content {
		padding: 2em 2em 3em;
		font-size: 0.7em;
	}

	@media screen and (min-width: $md) {
		background-color: $color__background-pre;

		&.has-sidebar {

			.site-content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
		}
	}

	.featured-image {
		height: 19em;
	}

	.page-banner {

		&__content {
			top: 52%;

			@media screen and (min-width: $md) {
				top: 5%;
			}
		}
	}
}


.page-header {
	font-family: $base_font;
}

.page-title {
	margin: 0 0 0.5em;
}

.archive-description {
	margin: -1em 0 2em;
}

/* For content-none.php */
.search,
.error-404 {

	.page-header {
		margin-top: 30%;

		@media screen and (min-width: $md) {
			margin-top: 10%;
		}
	}

	.page-content {

		@include font-size(18px, 26px, 0);
		margin: 2em 0 4em;
		padding: 1em 2em;
		font-family: $base_font;
		color: $black;
		background: $color__background-pre;

		@media screen and (min-width: $md) {

			@include font-size(13px, 17px, 0);
			margin: 2em 8em 4em;
		}

		h2 {
			text-align: left;
		}
	}

	.search-form {
		width: 100%;

		@media screen and (min-width: $md) {
			width: 30%;
		}
	}

	input[type="search"] {
		padding: 0.5em;
	}

	input[type="submit"] {

		@include border(1px solid, $mid-grey, top bottom right left);
		@include transition(all $time $ease);
		color: $black;
		padding: 0.3em 0.5em;
		border-radius: 2em;

		&:focus,
		&:hover {

			@include transition(all $time $ease);
			background-color: $taxi-red;
			color: $white;
			border: none;
		}
	}
}

.sticky::before {
	content: "";
	display: block;
	width: 2em;
	height: 2em;
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 2em 2em 0;
	border-color: $white;
	border-style: solid;
	box-shadow: -1px 2px 2px hsla(0, 0%, 10%, 0.1);
}

.index-image {

	img {
		display: block;
		margin: 0 auto;
	}

	a {

		&:focus > img,
		&:hover > img {
			opacity: 0.8;
		}
	}
}
