body {
	background-color: $white;
	padding: 10px;
	margin: 0;
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: $black;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

// lists
ul,
ol {
	margin: 0 0 1.5em;
	padding: 1em;
}

ul {
	list-style: none;
	display: block;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.5em;
}

dt {
	font-weight: 900;
}

dd {
	margin: 0 1.5em 1.5em;
}

// tables

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thread
th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

td,
th {
	vertical-align: top;
}

th {
	padding: 0.4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}
