@mixin main-btn {
	display: inline-block;
	padding: ($gutter * 1) ($gutter * 4);

	@include font-size(20px, 26px, 1px);
	@include transition(all $time $ease);
	@include border(1px solid, $mid-grey, top bottom right left);
	text-transform: uppercase;
	border-radius: 10px;

	&:hover {
		background-color: $taxi-red;
		color: $white;
		border: none;
		box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.2);
	}
}

@mixin main-dark-btn {
	display: inline-block;
	padding: ($gutter * 1) ($gutter * 4);

	@include font-size(20px, 26px, 1px);
	@include transition(all $time $ease);
	background-color: $taxi-red;
	color: $white;
	border: none;
	text-transform: uppercase;
	border-radius: 10px;

	&:hover {
		background-color: $taxi-red-dark;
		color: $white;
		border: none;
		box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.2);
	}
}