
a {

	@include transition(all $time $ease);
	color: $black;

	&:visited
	&:hover,
	&:focus,
	&:active {
		color: $taxi-red;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.page-content,
.entry-content,
.entry-summary,
.comment-content {

	a {
		text-decoration: none;
		// border-bottom: 3px solid $color__interactive;

		&:focus,
		&:hover {
			color: $taxi-red;
		}
	}
}

