#mc_embed_signup {
	background: transparent;
	clear: left;

	label {
		display: flex;
		font-weight: 300;
		text-transform: uppercase;

		@include font-size(13px, 13px, 0.5px);
	}

	input[type="email"],
	textarea {

		@include font-size(13px, 14px, 1px);
		margin: 0.5em auto;
		padding: 4%;
		border-radius: 15px;
		width: 100%;
		border: 1px solid $light-grey;
	}

	.indicates-required {
		width: 100%;
		font-size: 10px;
		display: flex;
		line-height: 10px;
		flex-wrap: wrap;
		flex-direction: column;
		flex-direction: row-reverse;
	}


	input[type="submit"],
	button[type="submit"] {

		@include font-size(14px, 18px, 1px);
		flex-wrap: wrap;
		display: flex;
		flex-direction: column;
		color: $grey;
		font-family: inherit;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 6px;

		@include transition(all $time $ease);
		@include border(1px solid, $mid-grey, top bottom right left);
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		padding: 1em 1.2em;
	}

	input[type="submit"]:hover,
	button[type="submit"]:hover {

		@include transition(all $time $ease);
		outline: none;
		border: none;
		color: $white;
		background-color: $taxi-red;
		box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.2);
	}
}

@media screen and (min-width: $sm) {

	#mc_embed_signup {
		padding: 2em;
	}

	.indicates-required {
		width: 30;
		margin-left: 30%;
	}
}

@media screen and (min-width: $md) {

	#mc_embed_signup {
		padding: 0;
	}
}
